.post-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-inline: auto;
}

/* HEADER */

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
    }

    span {
        font-weight: 600;
    }
}

/* IMAGE */

.post-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* ACTIONS */



.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    p {
        display: flex;
        align-items: center;
        flex-direction: column;

        span {
            font-size: 14px;
            font-weight: 600;
        }
    }

    svg {
        font-size: 22px;
        cursor: pointer;
    }
}

.left-actions {
    display: flex;
    gap: 15px;
}

.right-actions {
    svg {
        font-size: 22px;
    }
}

.liked {
    color: red;
}

.like-count {
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px 8px;
}

.post-caption {
    text-align: start;
    padding: 0 10px 15px;
    font-size: 14px;
}