
.sidebar {
  width: 230px;
  height: 100vh;
  background: #000;
  color: #fff;
  position: relative;
  left: 0;
  top: 0;
  padding: 20px;
  transition: 0.3s;
}

.logo {
  font-size: 22px;
  margin-bottom: 40px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li a{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.sidebar ul li:hover {
  background: #1a1a1a;
}

.sidebar ul li span {
  font-size: 16px;
}

.social-icons {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 20px;
  font-size: 22px;
}

/* Mobile Button */
.menu-btn {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 22px;
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
  padding: .6rem .8rem;
  color: #000;
  z-index: 1000;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    left: -100%;
  }

  .sidebar.active {
    left: 0;
  }

  .menu-btn {
    display: block;
  }
}