.sidebar {
  width: 230px;
  height: 100vh;
  background: #000;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 100;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.logo {
  font-size: 22px;
  margin-bottom: 40px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.sidebar ul li:hover {
  background: #1a1a1a;
}

.sidebar ul li span {
  font-size: 16px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
  position: relative;

  .morelinks {
    // display: none;
    position: absolute;
    top: -200%;
    left: 0%;
    background: #1a1a1a;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 120px;
    font-size: 16px;

    a {
      color: white;
      font-size: 14px;
      transition: 0.2s;
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 10px;
      cursor: pointer;
      border-radius: 8px;
      transition: 0.2s;

      &:hover {
        background: #1a1a1a;

      }
    }
  }

  &:hover {
    background: #1a1a1a;
  }
}

/* Mobile Button */
.menu-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1000;
  display: none;

  svg {
    font-size: 2.5rem;
    border-radius: 50%;
    padding: .5rem;
    background-color: rgb(230, 230, 230);
    color: rgb(15, 15, 15);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    left: -100%;
  }

  .sidebar.active {
    left: 0;
  }

  .menu-btn {
    display: block;
  }
}