.form-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-box {
    width: 380px;
    background: #000000;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .error {
        color: red;
        text-align: center;
        margin-bottom: 12px;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        label {
            font-weight: 600;
            margin-bottom: 5px;
        }

        input,
        textarea {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;

            &:focus {
                outline: none;
                border-color: #4e73df;
            }
        }

        textarea {
            resize: none;
        }
    }

    

    .bottom-text {
        text-align: center;
        margin-top: 15px;

        span {
            color: #4e73df;
            cursor: pointer;
            font-weight: 600;
        }
    }
}