button {
    // width: 100%;
    padding-block: .6rem;
    padding-inline: 1.5rem;
    background: #fb8246;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;

    &:active {
        transform: scale(.9);
    }
}